@function vw($px) {
    @return ($px / 750) *100vw;
}

* {
    margin: 0;
    padding: 0;
}
#list{
    display: flex;
    aside{
        display: inline-block;
        width: vw(140);
        height: vw(2000);
        float: left;
        ul{
            width: vw(138);
            height: 100%;
            li{
                width: 100%;
                height: vw(80);
                border-bottom: solid vw(2) #ccc;  
                line-height: vw(80);
                text-align: center;      
            }
        }
    }
    main{
        display: inline-block;
        float: left;
        width: vw(610);
        min-height: vw(2000);
    }
}