* {
  margin: 0;
  padding: 0;
}

#detail {
  width: 100vw;
}

#detail header {
  width: 100vw;
  height: 13.33333vw;
  font-size: 4.26667vw;
  line-height: 13.33333vw;
  text-align: center;
  border-bottom: solid 0.13333vw #ccc;
  color: #000;
}

#detail header .left {
  float: left;
  margin-left: 2.66667vw;
  height: 13.33333vw;
  line-height: 13.33333vw;
  color: #72b6ff;
  font-weight: bold;
}

#detail .top {
  width: 100vw;
  height: 53.33333vw;
  background: rgba(194, 229, 223, 0.808);
}

#detail .top img {
  width: 32vw;
  height: 45.33333vw;
  float: left;
  margin-top: 4vw;
  margin-left: 2.66667vw;
  border: solid 0.4vw white;
  border-radius: 2.66667vw;
}

#detail .top p {
  width: 55.46667vw;
  height: 5.86667vw;
  float: right;
  margin-top: 4vw;
  text-align: left;
}

#detail .top div {
  float: right;
  width: 55.46667vw;
  height: 10.66667vw;
}

#detail .top div span {
  display: inline-block;
  width: 26.66667vw;
  height: 10.66667vw;
  float: left;
  line-height: 10.66667vw;
  text-align: center;
  color: #fff;
  border-radius: 10.66667vw;
}

#detail .top div .one {
  background: #ffe742;
  margin-right: 2.13333vw;
}

#detail .top div .two {
  background: #ff5941;
}

#detail article {
  text-align: left;
  display: inline-block;
  box-sizing: border-box;
  padding-left: 2.66667vw;
  height: 32vw;
  border-bottom: 0.13333vw solid #ccc;
}

#detail .more {
  width: 100vw;
  height: 13.33333vw;
  font-size: 4vw;
  text-align: center;
  line-height: 13.33333vw;
  color: #333;
  border-bottom: 0.13333vw solid #ccc;
}

#detail .log {
  width: 100vw;
  height: 13.33333vw;
  font-size: 4vw;
  text-align: left;
  line-height: 13.33333vw;
  box-sizing: border-box;
  padding-left: 2.66667vw;
  color: #333;
  border-bottom: 0.13333vw solid #ccc;
}

#detail .list {
  width: 100vw;
}

#detail .list ul {
  width: 100vw;
}

#detail .list ul li {
  width: 100vw;
  height: 26.66667vw;
  border-bottom: 0.13333vw solid #ccc;
}

#detail .list ul li img {
  display: inline-block;
  width: 38.4vw;
  height: 21.86667vw;
  float: left;
  margin-top: 1.6vw;
  margin-left: 2.66667vw;
}

#detail .list ul li p {
  width: 56vw;
  height: 10.66667vw;
  display: inline-block;
  margin-top: 1.6vw;
  float: right;
  text-align: left;
}
